<a href="https://colab.research.google.com/github/MacsEli/DocumentosDeClase/blob/main/clase28112020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df_01 = pd.read_csv('/content/drive/MyDrive/Databases/Week 9 - Saturday/denue/denue_inegi_01_.csv')

In [ ]:
import chardet #detectar el charcater encoding
with open ('/content/drive/MyDrive/Databases/Week 9 - Saturday/denue/denue_inegi_01_.csv','rb') as rawdata:
  result = chardet.detect(rawdata.read(10000))
  
print(result)

{'encoding': 'ISO-8859-1', 'confidence': 0.73, 'language': ''}

In [ ]:
df_01 = pd.read_csv('/content/drive/MyDrive/Databases/Week 9 - Saturday/denue/denue_inegi_01_.csv', 
                    encoding = 'ISO-8859-1')

In [ ]:
df_02 = pd.read_csv('/content/drive/MyDrive/Databases/Week 9 - Saturday/denue/denue_inegi_02_.csv', 
                    encoding = 'ISO-8859-1')
df_03 = pd.read_csv('/content/drive/MyDrive/Databases/Week 9 - Saturday/denue/denue_inegi_03_.csv', 
                    encoding = 'ISO-8859-1')
df_04 = pd.read_csv('/content/drive/MyDrive/Databases/Week 9 - Saturday/denue/denue_inegi_04_.csv', 
                    encoding = 'ISO-8859-1')
df_05 = pd.read_csv('/content/drive/MyDrive/Databases/Week 9 - Saturday/denue/denue_inegi_05_.csv', 
                    encoding = 'ISO-8859-1')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (34) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
df_01.head(1)

      per_ocupacion                        nom_estab  ...    longitud  fecha_alta
0  31 a 50 personas  AGROPECUARIA CHARCOS DE QUEZADA  ... -102.309807     2019-04

[1 rows x 41 columns]

In [ ]:
df_02.head(2)

        id                             nom_estab  ...    longitud  fecha_alta
0  8320509  ABOS ABS PROMOTORA DE MEXICO SADE CV  ... -114.917778     2019-11
1  8838283                   ABULONES CULTIVADOS  ... -116.627010     2019-11

[2 rows x 41 columns]

In [ ]:
df_01 = df_01.reindex(sorted(df_01.columns),axis=1)

In [ ]:
df_02 = df_02.reindex(sorted(df_02.columns),axis=1)
df_03 = df_03.reindex(sorted(df_03.columns),axis=1)
df_04 = df_04.reindex(sorted(df_04.columns),axis=1)
df_05 = df_05.reindex(sorted(df_05.columns),axis=1)

In [ ]:
df_01_columns = df_01.columns
df_02_columns = df_02.columns
df_03_columns = df_03.columns
df_04_columns = df_04.columns
df_05_columns = df_05.columns

In [ ]:
#Revisar las columnas en común
common_cols_01 = df_01_columns.intersection(df_02_columns)

In [ ]:
common_cols_01

Index(['ageb', 'cod_postal', 'codigo_act', 'correoelec', 'cve_ent', 'cve_loc',
       'cve_mun', 'edificio', 'edificio_e', 'entidad', 'fecha_alta', 'id',
       'latitud', 'letra_ext', 'letra_int', 'localidad', 'longitud', 'manzana',
       'municipio', 'nom_CenCom', 'nom_estab', 'nom_v_e_1', 'nom_v_e_2',
       'nom_v_e_3', 'nom_vial', 'nomb_asent', 'nombre_act', 'num_local',
       'numero_ext', 'numero_int', 'raz_social', 'telefono', 'tipoCenCom',
       'tipoUniEco', 'tipo_asent', 'tipo_v_e_1', 'tipo_v_e_2', 'tipo_v_e_3',
       'tipo_vial', 'www'],
      dtype='object')

In [ ]:
not_common_cols_01= df_01_columns.difference(df_02_columns)
not_common_cols_01

Index(['per_ocupacion'], dtype='object')

In [ ]:
not_common_cols_01= df_01_columns.difference(df_02_columns)
not_common_cols_03= df_01_columns.difference(df_03_columns)
not_common_cols_04= df_01_columns.difference(df_04_columns)
not_common_cols_05= df_01_columns.difference(df_05_columns)
print(not_common_cols_01)
print(not_common_cols_03)
print(not_common_cols_04)
print(not_common_cols_05)

Index([], dtype='object')
Index([], dtype='object')
Index([], dtype='object')
Index([], dtype='object')

In [ ]:
df_01 = df_01.rename(columns={'per_ocupacion':'per_ocu'})

In [ ]:
len(df_01)

61324

In [ ]:
#union de los dataframe
data_frame = [df_02, df_03,df_04, df_05]
df_final = df_01.append(data_frame).reset_index(drop=True)
df_final.tail()

        ageb  cod_postal codigo_act  ... tipo_v_e_3  tipo_vial  www
377842  0176     26170.0     931610  ...      CALLE      CALLE  NaN
377843  1773     26262.0     931610  ...      CALLE      CALLE  NaN
377844  0038     27800.0     931610  ...      CALLE      CALLE  NaN
377845  095A     27805.0     931610  ...    AVENIDA    AVENIDA  NaN
377846  0447     26767.0     931610  ...      CALLE    AVENIDA  NaN

[5 rows x 41 columns]

In [ ]:
func_null = df_final.isnull().sum()
func_null

ageb               6
cod_postal       547
codigo_act         0
correoelec    301008
cve_ent            0
cve_loc            0
cve_mun            0
edificio      349115
edificio_e    348734
entidad            0
fecha_alta         0
id                 0
latitud            0
letra_ext     206005
letra_int     357115
localidad          0
longitud           0
manzana            6
municipio          0
nom_CenCom    348950
nom_estab          0
nom_v_e_1       7229
nom_v_e_2       7852
nom_v_e_3       7136
nom_vial          22
nomb_asent        95
nombre_act         0
num_local     349375
numero_ext    110638
numero_int    247060
per_ocu            0
raz_social    281178
telefono      234277
tipoCenCom    350291
tipoUniEco         0
tipo_asent       395
tipo_v_e_1      7997
tipo_v_e_2      8592
tipo_v_e_3      8083
tipo_vial        635
www           351036
dtype: int64

In [ ]:
cols_to_remove = list(func_null[func_null>40000].index)
cols_to_remove

['correoelec',
 'edificio',
 'edificio_e',
 'letra_ext',
 'letra_int',
 'nom_CenCom',
 'num_local',
 'numero_ext',
 'numero_int',
 'raz_social',
 'telefono',
 'tipoCenCom',
 'www']

In [ ]:
df_no_null = df_final.drop(cols_to_remove,axis=1)
df_no_null.head(1)

  ageb  cod_postal codigo_act  ...  tipo_v_e_2  tipo_v_e_3  tipo_vial
0  233     20130.0     115119  ...       CALLE       CALLE    AVENIDA

[1 rows x 28 columns]

In [ ]:
df_no_null['nombre_act'].unique().tolist()

In [ ]:
df_no_null['nombre_act_limpio'] = df_no_null['nombre_act'].str.lower()

In [ ]:
df_no_null['nombre_act_limpio'][df_no_null['nombre_act'].str.contains('Servicios de investigación científica')].unique().tolist()

['servicios de investigación científica y desarrollo en ciencias naturales y exactas, ingeniería, y ciencias de la vida, prestados por el sector público',
 'servicios de investigación científica y desarrollo en ciencias naturales y exactas, ingeniería, y ciencias de la vida, prestados por el sector privado',
 'servicios de investigación científica y desarrollo en ciencias sociales y humanidades, prestados por el sector privado',
 'servicios de investigación científica y desarrollo en ciencias sociales y humanidades, prestados por el sector público']

In [ ]:
puntuacion = [",",";","("]

for p in puntuacion:
  df_no_null['nombre_act_limpio'] = df_no_null['nombre_act_limpio'].str.replace(p,"")
df_no_null['nombre_act_limpio'][df_no_null['nombre_act'].str.contains('Servicios de investigación científica')].unique().tolist()

['servicios de investigación científica y desarrollo en ciencias naturales y exactas ingeniería y ciencias de la vida prestados por el sector público',
 'servicios de investigación científica y desarrollo en ciencias naturales y exactas ingeniería y ciencias de la vida prestados por el sector privado',
 'servicios de investigación científica y desarrollo en ciencias sociales y humanidades prestados por el sector privado',
 'servicios de investigación científica y desarrollo en ciencias sociales y humanidades prestados por el sector público']

In [ ]:
df_no_null['nombre_act_limpio'] = df_no_null['nombre_act_limpio'].str.normalize('NFKD').str.encode('ascii',errors='ignore').str.decode('utf-8')

In [ ]:
df_no_null['nombre_act_limpio'][df_no_null['nombre_act'].str.contains('Servicios de investigación científica')].unique().tolist()

['servicios de investigacion cientifica y desarrollo en ciencias naturales y exactas ingenieria y ciencias de la vida prestados por el sector publico',
 'servicios de investigacion cientifica y desarrollo en ciencias naturales y exactas ingenieria y ciencias de la vida prestados por el sector privado',
 'servicios de investigacion cientifica y desarrollo en ciencias sociales y humanidades prestados por el sector privado',
 'servicios de investigacion cientifica y desarrollo en ciencias sociales y humanidades prestados por el sector publico']

In [ ]:
#Catalogo de actividad y entidad organizado por veces que aparece su ID en el df_final
df_summarize = df_no_null.groupby(['nombre_act_limpio',
                                   'cve_ent']).agg({'id':'count'}).reset_index()

In [ ]:
df_summarize.tail()

                                      nombre_act_limpio  cve_ent   id
3096                                 uniones de credito        5    9
3097  venta de billetes de loteria pronosticos depor...        1   34
3098  venta de billetes de loteria pronosticos depor...        2   60
3099  venta de billetes de loteria pronosticos depor...        4  129
3100  venta de billetes de loteria pronosticos depor...        5  149

In [ ]:
df_count_actividad = df_summarize.groupby(['nombre_act_limpio'])['id'].sum()

In [ ]:
df_count_actividad.nlargest(10)

nombre_act_limpio
comercio al por menor en tiendas de abarrotes ultramarinos y miscelaneas    33300
0 a 5 personas                                                              28516
salones y clinicas de belleza y peluquerias                                 16381
restaurantes con servicio de preparacion de antojitos                        9427
comercio al por menor de ropa excepto de bebe y lenceria                     8393
asociaciones y organizaciones religiosas                                     8370
restaurantes con servicio de preparacion de tacos y tortas                   6732
reparacion mecanica en general de automoviles y camiones                     6599
comercio al por menor de articulos de papeleria                              6508
banca multiple                                                               6436
Name: id, dtype: int64

In [ ]:
df_count_actividad.nsmallest(10)

nombre_act_limpio
agentes y representantes de artistas deportistas y similares    1
asesoria en inversiones                                         1
casinos                                                         1
congelacion de guisos y otros alimentos preparados              1
cultivo de maiz grano                                           1
despepite de algodon                                            1
edicion de directorios y de listas de correo                    1
elaboracion de aceites y grasas vegetales comestibles           1
elaboracion de cafe instantaneo                                 1
elaboracion de harina de otros productos agricolas              1
Name: id, dtype: int64

In [ ]:
df_count_actividad_clean.nsmallest(10)

nombre_act_limpio
comercio al por mayor de desechos de papel y de carton                                          101
operadores de servicios de telecomunicaciones inalambricas                                      101
comercio al por mayor de maquinaria y equipo para la construccion y la mineria                  102
comercio al por mayor de otros materiales para la construccion excepto de madera y metalicos    103
otro autotransporte foraneo de carga especializado                                              103
comercio al por mayor de equipo de telecomunicaciones fotografia y cinematografia               104
otras instituciones de intermediacion crediticia y financiera no bursatil                       104
fabricacion de articulos de alfareria porcelana y loza                                          107
laboratorios de pruebas                                                                         107
fabricacion de otros productos metalicos                                                        110
Name: id, dtype: int64

In [ ]:
rows_to_remove = list(df_count_actividad[df_count_actividad<100].index)
df_count_actividad_clean = df_count_actividad.drop(rows_to_remove,axis=0)
df_count_actividad_clean

nombre_act_limpio
0 a 5 personas                                                                    28516
101 a 250 personas                                                                  196
11 a 30 personas                                                                   2853
251 y mas personas                                                                  120
31 a 50 personas                                                                    494
                                                                                  ...
transporte colectivo foraneo de pasajeros de ruta fija                              248
transporte colectivo urbano y suburbano de pasajeros en autobuses de ruta fija      245
transporte de pasajeros en taxis de sitio                                           123
transporte escolar y de personal                                                    142
venta de billetes de loteria pronosticos deportivos y otros boletos de sorteo       372
Name: id, Length: 319, dtype: int64

In [ ]:
df_top10 = df_count_actividad_clean.nlargest(10).to_frame()
df_top10['class']='top_10'
df_low10 = df_count_actividad_clean.nsmallest(10).to_frame()
df_low10['class']='low_10'

In [ ]:
catalog= pd.concat([df_top10,df_low10],axis=0).reset_index()

In [ ]:
catalog

                                    nombre_act_limpio     id   class
0   comercio al por menor en tiendas de abarrotes ...  33300  top_10
1                                      0 a 5 personas  28516  top_10
2         salones y clinicas de belleza y peluquerias  16381  top_10
3   restaurantes con servicio de preparacion de an...   9427  top_10
4   comercio al por menor de ropa excepto de bebe ...   8393  top_10
5            asociaciones y organizaciones religiosas   8370  top_10
6   restaurantes con servicio de preparacion de ta...   6732  top_10
7   reparacion mecanica en general de automoviles ...   6599  top_10
8     comercio al por menor de articulos de papeleria   6508  top_10
9                                      banca multiple   6436  top_10
10  comercio al por mayor de desechos de papel y d...    101  low_10
11  operadores de servicios de telecomunicaciones ...    101  low_10
12  comercio al por mayor de maquinaria y equipo p...    102  low_10
13  comercio al por mayor de otros materiales para...    103  low_10
14  otro autotransporte foraneo de carga especiali...    103  low_10
15  comercio al por mayor de equipo de telecomunic...    104  low_10
16  otras instituciones de intermediacion creditic...    104  low_10
17  fabricacion de articulos de alfareria porcelan...    107  low_10
18                            laboratorios de pruebas    107  low_10
19           fabricacion de otros productos metalicos    110  low_10

In [ ]:
table_concat = pd.merge(df_no_null,catalog,how='left',
                        on=['nombre_act_limpio']).reset_index()

In [ ]:
table_concat[table_concat['class'].notnull()]

         index  ageb  ...     id_y   class
3266      3266  3295  ...    107.0  low_10
3267      3267   483  ...    107.0  low_10
3268      3268   483  ...    107.0  low_10
3269      3269   515  ...    107.0  low_10
3281      3281   587  ...    107.0  low_10
...        ...   ...  ...      ...     ...
376260  376260  4645  ...  16381.0  top_10
376262  376262  137A  ...  16381.0  top_10
376264  376264  1040  ...  16381.0  top_10
376265  376265  0233  ...  16381.0  top_10
376267  376267  2386  ...   6599.0  top_10

[131704 rows x 32 columns]