<a href="https://colab.research.google.com/github/MacsEli/DocumentosDeClase/blob/main/Copia_de_clase28112020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df_01 = pd.read_csv('/content/drive/MyDrive/Databases/Week 9 - Saturday/denue/denue_inegi_01_.csv')

In [ ]:
import chardet #detectar el charcater encoding
with open ('/content/drive/MyDrive/Databases/Week 9 - Saturday/denue/denue_inegi_01_.csv','rb') as rawdata:
  result = chardet.detect(rawdata.read(10000))
  
print(result)

{'encoding': 'ISO-8859-1', 'confidence': 0.73, 'language': ''}

In [ ]:
df_01 = pd.read_csv('/content/drive/MyDrive/Databases/Week 9 - Saturday/denue/denue_inegi_01_.csv', 
                    encoding = 'ISO-8859-1')

In [ ]:
df_02 = pd.read_csv('/content/drive/MyDrive/Databases/Week 9 - Saturday/denue/denue_inegi_02_.csv', 
                    encoding = 'ISO-8859-1')
df_03 = pd.read_csv('/content/drive/MyDrive/Databases/Week 9 - Saturday/denue/denue_inegi_03_.csv', 
                    encoding = 'ISO-8859-1')
df_04 = pd.read_csv('/content/drive/MyDrive/Databases/Week 9 - Saturday/denue/denue_inegi_04_.csv', 
                    encoding = 'ISO-8859-1')
df_05 = pd.read_csv('/content/drive/MyDrive/Databases/Week 9 - Saturday/denue/denue_inegi_05_.csv', 
                    encoding = 'ISO-8859-1')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (34) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
df_01.head(1)

      per_ocupacion                        nom_estab  ...    longitud  fecha_alta
0  31 a 50 personas  AGROPECUARIA CHARCOS DE QUEZADA  ... -102.309807     2019-04

[1 rows x 41 columns]

In [ ]:
df_02.head(2)

        id                             nom_estab  ...    longitud  fecha_alta
0  8320509  ABOS ABS PROMOTORA DE MEXICO SADE CV  ... -114.917778     2019-11
1  8838283                   ABULONES CULTIVADOS  ... -116.627010     2019-11

[2 rows x 41 columns]